<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Dashboard/styles-dashboard.css') }}">
</head>
<body>
    <div class="dashboard">
        <div class="level">
          <h1 id="water-level">Niveau de l'eau</h1>
          <meter id="vertical-meter" min="0" max="100" value="{{ water_level }}"></meter>
        </div>
        <h1 id="commands">Commande des valves</h1>
        <div class="buttons">
            <button id="button_pump" class="{% if pump_state %}green{% endif %}">Pompe</button>
            <button id="button1" class="{% if valve1_state %}green{% endif %}">Valve 1</button>
            <button id="button2" class="{% if valve2_state %}green{% endif %}">Valve 2</button>
        </div>
    </div>
    <script>
      // Get all buttons
      const buttons = document.querySelectorAll('.buttons button');

      // Iterate through each button
      buttons.forEach(button => {
          // Add click event listener
          button.addEventListener('click', function() {
              // Toggle class 'green'
              this.classList.toggle('green');

              // Create a JSON object with the button's ID
        const data = { buttonId: this.id, name: "le sang"};

                // Send a POST request to the server
                fetch('/control', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Response:', data);
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
          });
      });
    </script>
</body>
</html>